@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --dark-bg: #1f2937;
  --light-bg: #e5e7eb;
  --font-light: white;
  --font-contrast: rgb(22, 22, 22);
  --font-dark: rgb(8, 8, 8);
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  color: var(--font-dark);
}
/* *HEADER */
header {
  display: flex;
  color: var(--font-light);
  background-color: var(--dark-bg);
}
.nav {
  padding: 1rem 10vw;
  display: flex;
  width: 100%;
  gap: 1rem;
  font-weight: 200;
  align-items: center;
}
.nav__logo {
  margin-right: auto;
  font-weight: 600;
}

/* *MAIN */
main {
}
.main1,
.main2,
.main3,
.main4 {
  padding: 10vw;
}
.main1 {
  background-color: var(--dark-bg);
  color: var(--font-light);
}
.main3 {
  background-color: var(--light-bg);
}
/* *FOOTER */
footer {
  background-color: var(--dark-bg);
  color: var(--font-light);
}
