@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --dark-bg: #1f2937;
  --light-bg: #e5e7eb;
  --font-light: white;
  --font-contrast: rgb(22, 22, 22);
  --font-dark: rgb(8, 8, 8);
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  color: var(--font-dark);
}
/* *HEADER */
header {
  display: flex;
  background-color: var(--dark-bg);
}

/* *MAIN */
main {
}
.main1 {
  background-color: var(--dark-bg);
}
.main3 {
  background-color: var(--light-bg);
}
/* *FOOTER */
footer {
  background-color: var(--dark-bg);
}
